USEHAMMING = T           #(Boolean): use hamming window, default is T
SOURCEKIND = WAVEFORM    #(int): source kind of the raw speech data, default is WAVEFORM
SOURCEFROM = FILE        #(string): where the source data comes from, FILE or MIC, default is FILE
SOURCERATE = 16000       #(int): the source sample rate, default is 16000 Hz
TARGETKIND = FBANK       #(int): supported feature types: FBANK, USER, PITCH, OR MFCC, default is FBANK

WINDOWSHIF = 0.010       #(float): window shift for next frame, default is 0.01
WINDOWDUR = 0.025        #(float): source window duration , default is 0.025
PREEMCOEF = 0.97         #(float): pre-emphasise coef, default is 0.97
NUMCHANS = 40            #(int): number of filter bank channels, default is 40
ZMEANSOURCE = T          #(Boolean): zero frame mean (Wave only), default is T
LOFBANKFREQ = 100.0      #(float): fbank low frequency cut-off, default is 100.0
HIFBANKFREQ = 6800.0     #(float): fbank high frequency cut-off, default is 6800.0
USEPOWER    = T          #(Boolean): use power instead of Magnitude, default is F
ADDDITHER  = 1.0         #(float): additional Gaussion dither added to file, default is 1.0
TAKELOGS   = T           #(Boolean): log filterbank channels, default is T
DOUBLEFFT  = F           #(Boolean): use twice the required FFT size, default is F

USECMVN = T              #(Boolean): do cmvn for features, default is F
CMVNFILENAME = NULL      #(string): file name which stores cmvn parameters, default is NULL
DNNMODELNAME = JSnnet_cmvn.txt    #(string): file name which stores DNN model parameters, default is NULL
VADTHRESHOLDS = 0.80     #(float): To determine the threshold of VAD , default is 0.90
VADENDTHRESHOLDS = 0.80  #(float): To determine the threshold of VADEND , default is 0.90
WAKEUPTHRESHOLDS = 0.80  #(float): To determine the threshold of WAKEUP , default is 0.90
CONFIDENCE_WIN_SIZE = 50  #(int) The degree of confidence of window size,default is 50
SMOOTHING_WIN_SIZE = 30   #(int) Smoothing window size,default is 30
SPLICEFRAMELENGTH = 41 #(int) spliceframes length,default is 41
